@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&family=Open+Sans:wght@500&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600&family=Ubuntu+Condensed&display=swap');


html, body, div,h1, h2, h3, h4, h5, h6, p,img,ul,li,figure {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
}


.headcontainer {
    box-shadow: 0px 4px 40px -15px rgba(0, 0, 0, 0.25);
}


.navegacao {
    padding: 20px ;
    margin: 0 auto;
    max-width: 1200px;
    height: 30px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}

.navegacao ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 50px;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
}

.navegacao ul a {
    text-decoration: none;
    color: #333333;
}

.navegacao ul a:hover {
    color: #37268C;
    text-decoration: underline;
}

.produtos {
    margin-top: 30px;
    width: 800px;
    background-color: #fff;
}

.produtos-carrinho {
    margin-top: 30px;
    width: 400px;
    background-color: #fff;
}

.lista-produtos {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card-produtos {
    height: 300px;
    width: 260px;
}

.card-produtos img {
    height: 40%;
    width: 100%;
    object-fit: contain;
}



 .tipo-produto {
    display: flex;
    align-items: center;
    margin-left: 5px;
    margin-top: 10px;
    padding-left: 5px;
    height: 25px;
    width: 75px;
    color: #F5F5F5;
    background-color: #37268C;
    font-family: 'Inter', sans-serif;
    font-size: 12px;

}

.card-produtos h2 {
    margin-top: 10px;
    margin-left: 5px;
    color: #333333;
    font-family: 'Inter', sans-serif;;
    font-size: 16px;
}

.descricao-produto {
    margin-top: 10px;
    margin-left: 5px;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    color: #828282;
}


.card-produtos span {
    display: block;
    margin-top: 10px;
    margin-left: 5px;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    color: #2E245E;
}


.btn-adicionar {
    border: none;
    display: block;
    background-color: #fff;
    margin-left: 5px;
    margin-top: 12px;
}

.btn-adicionar:hover {
    text-decoration: underline;
    color: #37268C;
}

aside {
    margin-left: 20px;
}
form {
    margin-top: 10px;
}
form input {
    font-family: 'Inter', sans-serif;
    background-color: lightgray;
    color: #333333;
    padding: 2px;
    border-radius: 1px;
    border: none;
    height: 28px;
    width: 200px;
}

form button {
    background-color: #37268C;
    color: #F5F5F5;
    border: none;
    font-family: 'Inter', sans-serif;
    height: 31px;
}